@media (min-width: 320px) and (max-width: 480px) {


    body,
    html {
        margin: 0;
        padding: 0;
        width: 100% !important;
        height: auto !important;
        background-color: #f4f4f4 !important;
        box-sizing: border-box;
    }

    .img {
        width: 100% !important;
        height: 78vh !important;
        background-color: #01253d;
        background-image: linear-gradient(to bottom, rgb(1, 37, 61) 59%, transparent), url(https://res.cloudinary.com/dnvykpdlo/image/upload/v1711964046/Rafico/top-img-home_bgw3pw.png);
        background-repeat: no-repeat !important;
        background-position: bottom;
        background-size: contain;
        position: relative;
    }

    .content {
        width: 100%;
        height: 65vh;
        position: absolute;
        top: 8rem;
        left: 0rem;
    }

    .heading-content {
        width: 100%;
        height: 30vh;
        position: absolute;
    }

    .heading {
        font-size: 35px;
        position: absolute;
        top: 3rem;
        right: 0rem;
    }

    .discreption {
        position: absolute;
        top: 20rem;
        width: 70% !important;
        height: auto;
        left: 3rem;
        font-size: 15px;
    }

    .containers {
        width: 100%;
        height: auto !important;
        margin-top: 2rem;

    }

    .right-side {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;


    }

    .left-side {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-heading {
        font-size: 25px;
        text-align: center;
    }

    .intro-heading {
        font-size: 2.5rem;
    }

    .introduction-dis {
        font-size: 18px !important;
    }


    .intro-btn {
        width: 123px !important;
        height: 42px !important;
        font-size: 12px !important;
        padding: 10px !important;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0 !important;

    }

    .quality-card {
        width: 100% !important;
        height: 40vh !important;
    }


    .location-cards {
        width: 20rem !important;
        height: 25vh !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .cardhedaing {
        color: white;
        font-size: 17px;
        line-height: 21.63px;
        font-weight: 500;
    }

    .text-white {
        padding-top: 0.5rem;
        padding-right: 1rem;
        font-size: 1rem;
    }

    .card-text {
        font-size: small !important;
    }

    .containerimage {
        width: 100%;
        height: 16vh;
    }

    .card-heading2 {
        top: 1rem !important;
    }

    .heading-text {
        font-weight: 500;
        text-align: center;
        font-size: 18px;
    }

    .second-cards {
        top: 0rem !important;

    }

    .core-values-icon1 {

        width: 70px;
        height: 69px;
        background-size: cover;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 15rem;
        margin-top: 1rem;

    }

    .log-images1 {
        width: 70px;
        height: 58px;
    }

    .inner-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .second-card-text {
        width: 15rem;
    }

    .logosection {
        top: 2rem;
        height: 20vh;
    }

    .Choose-us {
        top: 2rem !important;
        height: 150vh;
    }

    .list-card1 {
        position: relative;
        width: 100%;
        height: auto;
        top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .card-list {
        width: 100%;
    }

    .list-card2 {
        width: 100%;
        height: auto;
        flex-direction: column;
        position: relative;
        bottom: 2rem !important;
    }

    .col-sm.footerdis {
        margin: 0 !important;
    }

    .footer-side {
        height: auto;
    }

    .footer-container {

        height: auto;
    }

    .email-call {
        width: 66% !important;
        display: flex !important;
        flex-wrap: wrap !important;

    }

    .page-header {
        margin-top: 6rem !important;
        width: 100%;
    }


    body {
        width: 100%;
    }


    /* about.... */

    .shoes-image {
        background-image: url('./top-about-img-mobile.png') !important;
        height: 35vh;
        position: relative;
        background-size: cover;
    }

    .top-container {
        top: 8rem;
        font-size: 30px;
        width: 70%;
        padding: 1rem;

    }

    .about-container {
        display: flex;
        width: 100% !important;
        height: 100vh !important;
        position: relative;
        padding-top: 0rem !important;
        margin: 0rem;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .about-containers {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100% !important;
        height: 100vh !important;
        background-color: #f4f4f4;

    }

    .about-left-side {
        width: 100%;
        animation: left1;
        height: auto;
        animation-duration: 2s;
        bottom: 10rem;
    }

    .about-right-side {
        width: 100%;
        animation: right1;
        animation-duration: 2s;
        height: auto;
        bottom: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 6rem;
    }


    .about-left-heading {
        width: 90%;
        height: auto;

    }

    .about-introduction-dis {
        padding-top: 1rem;
        width: 100%;
        height: auto;
        padding: 1rem;
        color: #666c89;
    }


    .about-container2 {
        display: flex;
        width: 100% !important;
        height: 100vh !important;
        position: relative;
        padding: 1rem;
        justify-content: center;
        
    }

    .about-containers2 {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        width: 100% !important;
        height: 100vh !important;
        background-color:white;
        position: absolute;
        gap: 3rem;

    }
    
    
.about-left-side2 {
    width:100%;
    height: auto;
    animation: left1;
    animation-duration: 2s;
    position: relative;
  }
  
  .about-right-side2 {
    width: 100%;
    height: auto;
    animation: right1;
    animation-duration: 2s;
    position: relative;
  }
  
  .about-introduction-dis2 {
    padding-top: 1rem;
    width: 100%;
    color: #666c89;
  }

  
.ourvision-container {
    width: 100%;
    height: auto!important;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0rem;
    justify-content: center;
    align-items: center;
  }
  
  .our-vision {
    width: 100%;
    height: auto;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .our-mission {
    width: 100%;
    height: auto;
    background-color: #01253d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .dis {
    width: 40%;
    height: auto;
    margin-top: 2rem;
  }
  .about-logosection {
    height: auto;
    position: relative;
    top: 0rem;
   
  
  }





}




@media (min-width: 481px) and (max-width: 767px) {
    body,
    html {
        margin: 0;
        padding: 0;
        width: 100% !important;
        height: auto !important;
        background-color: #f4f4f4 !important;
        box-sizing: border-box;
    }

    .img {
        width: 100% !important;
        height: 100vh !important;
        background-color: #01253d;
        background-image: linear-gradient(to bottom, rgb(1, 37, 61) 55%, transparent), url(https://res.cloudinary.com/dnvykpdlo/image/upload/v1711964046/Rafico/top-img-home_bgw3pw.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;


    }

    .heading {
        font-size: 40px;
        position: absolute;
        top: 0rem;
        right: 3rem;


    }

    .discreption {
        position: absolute;
        right: 6rem;
        top: 16rem;
        width: 100%;
        font-size: 16px;
    }

    .containers {
        width: 100%;
        height: auto !important;
        margin-top: 2rem;

    }

    .right-side {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;


    }

    .left-side {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-heading {
        font-size: 20px;
        text-align: center;
    }

    .intro-btn {
        width: 123px !important;
        height: 42px !important;
        font-size: 12px !important;
        padding: 0 !important;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0 !important;

    }

    .card {
        width: 27rem !important;
        height: 25vh !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .cardhedaing {
        color: white;
        font-size: 17px;
        line-height: 21.63px;
        font-weight: 500;
    }

    .text-white {
        padding-top: 0.5rem;
        padding-right: 1rem;
        font-size: 1rem;
    }

    .card-text {
        font-size: small !important;
    }

    .containerimage {
        width: 100%;
        height: 33vh;
    }

    .card-heading2 {
        top: 1rem !important;
    }

    .heading-text {
        font-weight: 500;
        text-align: center;
        font-size: 18px;
    }

    .second-cards {
        top: 0rem !important;

    }

    .core-values-icon1 {

        width: 70px;
        height: 69px;
        background-size: cover;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 21rem;

    }

    .quality-card {
        width: 100% !important;
        height: 27vh !important;
    }



    .inner-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    .second-card-text {
        width: 15rem;
    }

    .logosection {
        top: 2rem;
        height: 30vh;
    }

    .Choose-us {
        top: 2rem !important;
        height: 170vh;
    }

    .list-card1 {
        position: relative;
        width: 100%;
        height: auto;
        top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .card-list {
        width: 100%;
    }

    .list-card2 {
        position: relative;
        width: 100%;
        height: auto;
        top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .col-sm.footerdis {
        margin: 0 !important;
    }

    .footer-side {
        height: auto !important;
    }

    .footer-container {
        height: auto !important;
    }

    .email-call {
        width: 70% !important;
        display: flex !important;
        flex-wrap: wrap !important;

    }

    .page-header {
        margin-top: 6rem !important;
        width: 100%;
    }

    .introduction-dis {
        width: 100% !important;
    }


     /* about.... */

     .shoes-image {
        background-image: url('./top-about-img-mobile.png') !important;
        height: 50vh;
        position: relative;
    }

    .top-container {
        top: 14rem;
        font-size: 43px;
        width: 70%;
        padding: 1rem;

    }

    .about-container {
        display: flex;
        width: 100% !important;
        height: 100vh !important;
        position: relative;
        padding-top: 0rem !important;
        margin: 0rem;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .about-containers {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100% !important;
        height: 100vh !important;
        background-color: #f4f4f4;

    }

    .about-left-side {
        width: 100%;
        animation: left1;
        height: auto;
        animation-duration: 2s;
        bottom: 10rem;
    }

    .about-right-side {
        width: 100%;
        animation: right1;
        animation-duration: 2s;
        height: auto;
        bottom: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 6rem;
    }


    .about-left-heading {
        width: 90%;
        height: auto;

    }

    .about-introduction-dis {
        padding-top: 1rem;
        width: 100%;
        height: auto;
        padding: 1rem;
        color: #666c89;
    }


    .about-container2 {
        display: flex;
        width: 100% !important;
        height: 100vh !important;
        position: relative;
        padding: 1rem 0 0 0 !important;
        
    }

    .about-containers2 {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        width: 100% !important;
        height: 100vh !important;
        background-color:white;
        position: absolute;
        gap: 3rem;

    }
    
    
.about-left-side2 {
    width:100%;
    height: auto;
    animation: left1;
    animation-duration: 2s;
    position: relative;
  }
  
  .about-right-side2 {
    width: 100%;
    height: auto;
    animation: right1;
    animation-duration: 2s;
    position: relative;
  }
  
  .about-introduction-dis2 {
    padding-top: 1rem;
    width: 100%;
    color: #666c89;
  }

  
.ourvision-container {
    width: 100%;
    height: auto!important;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0rem;
    justify-content: center;
    align-items: center;
  }
  
  .our-vision {
    width: 100%;
    height: auto;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .our-mission {
    width: 100%;
    height: auto;
    background-color: #01253d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .dis {
    width: 40%;
    height: auto;
    margin-top: 2rem;
  }
  .about-logosection {
    height: 25vh;
    position: relative;
    top: 0rem;
   
  
  }




}





@media (min-width: 400px) and (min-height: 738px) {

    .img {
        width: 100% !important;
        height: 100vh !important;
        background-color: #01253d;
        background-image: linear-gradient(to bottom, rgb(1, 37, 61) 70%, transparent), url(https://res.cloudinary.com/dnvykpdlo/image/upload/v1711964046/Rafico/top-img-home_bgw3pw.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;


    }


    .footer-side {
        height: auto !important;
    }

    .footer-container {

        height: auto !important;
    }

    .discreption {
        top: 18 rem;
        font-size: 20px;
    }
    
     /* about....

     .shoes-image {
        background-image: url('./top-about-img-mobile.png') !important;
        height: 40vh;
        position: relative;
    }
    .top-container{
        top: 11rem ;
    } */

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .img {
        width: 100%;
        height: 98vh;
        background-color: #01253d;
        background-image: linear-gradient(to right, rgb(1, 37, 61) 40%, transparent), url(https://res.cloudinary.com/dnvykpdlo/image/upload/v1711964046/Rafico/top-img-home_bgw3pw.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        background-size: 100%;

    }

    .heading {
        font-size: 2.5rem !important;
        right: 2rem !important;

    }

    .discreption {
        width: 100%;
        right: 4rem;
        top: 15rem;

    }


    .containers {
        margin-top: 2rem !important;
    }

    .cards {
        width: 100%;
        height: 80vh !important;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0rem !important;

    }

    .location-cards {
        width: 100% !important;

    }

    .containerimage {
        margin-top: 40rem !important;
    }

    .heading-text {
        position: relative;
        bottom: 8rem;
    }

    .second-cards {
        top: 0rem !important;
        display: flex;
        flex-wrap: wrap;
    }

    .quality-card {
        width: 100% !important;
    }

    .core-values-icon1 {
        position: relative;
        display: flex;
        right: 15rem !important;
        top: 1rem !important;
    }

    .inner-card {
        width: 100% !important;
        height: 26vh !important;
        position: relative;
        left: 5rem !important;
    }

    .second-card-text {
        width: 37rem;
    }

    .card-heading {
        margin-top: 2rem !important;
        width: 80% !important;
    }

    .list-card2 {
        gap: 3rem !important;
    }

    .footer-side {
        height: auto !important;
    }

    .footer-container {
        height: auto !important;
    }

    .page-header {
        margin-top: 3rem !important;
    }

    /* about.... */
    .shoes-image {
        background-image: url('./top-about-img-mobile.png') !important;
        height: 68vh !important;
        position: relative;
        width: 100%;
        background-size: cover;
    }
    .ourvision-container {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        top: 116rem;
    }
    .about-left-side {
        width: 50%;
        animation: left1;
        animation-duration: 2s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-right-side2 {
        width: 50%;
        animation: left1;
        animation-duration: 2s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dis{
        height: 30vh;
    }

    
}
@media (min-width: 768px) and (max-width: 1024px)  {
    .img {
        width: 100%;
        height: 98vh;
        background-color: #01253d;
        background-image: linear-gradient(to right, rgb(1, 37, 61) 40%, transparent), url(https://res.cloudinary.com/dnvykpdlo/image/upload/v1711964046/Rafico/top-img-home_bgw3pw.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        background-size: 100%;

    }

    .heading {
        font-size: 2.5rem !important;
        right: 2rem !important;

    }

    .discreption {
        width: 100%;
        right: 4rem;
        top: 15rem;

    }


    .containers {
        margin-top: 2rem !important;
    }

    .cards {
        width: 100%;
        height: 80vh !important;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0rem !important;

    }

    .location-cards {
        width: 100% !important;

    }

    .containerimage {
        margin-top: 40rem !important;
    }

    .heading-text {
        position: relative;
        bottom: 8rem;
    }

    .second-cards {
        top: 0rem !important;
        display: flex;
        flex-wrap: wrap;
    }

    .quality-card {
        width: 100% !important;
    }

    .core-values-icon1 {
        position: relative;
        display: flex;
        right: 15rem !important;
        top: 1rem !important;
    }

    .inner-card {
        width: 100% !important;
        height: 26vh !important;
        position: relative;
        left: 5rem !important;
    }

    .second-card-text {
        width: 37rem;
    }

    .card-heading {
        margin-top: 2rem !important;
        width: 80% !important;
    }

    .list-card2 {
        gap: 3rem !important;
    }

    .footer-side {
        height: auto !important;
    }

    .footer-container {
        height: auto !important;
    }

    .page-header {
        margin-top: 3rem !important;
    }

    /* about.... */
    .shoes-image {
        background-image: url('./top-about-img-mobile.png') !important;
        height: 68vh !important;
        position: relative;
        width: 100%;
        background-size: cover;
    }
    .ourvision-container {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        top: 116rem;
    }
    .about-left-side {
        width: 50%;
        animation: left1;
        animation-duration: 2s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-right-side2 {
        width: 50%;
        animation: left1;
        animation-duration: 2s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dis{
        height: 30vh;
    }
    .ourvision-container{
        top:124rem;
    }
    .about-logosection {
        bottom: 0rem !important;
    }

    
}



@media (min-width: 1025px) and (max-width: 1280px) {}